body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
    padding: 20px;
}
.filtro {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.btn-filter {
    background-color: #4CAF50; /* Cor de fundo verde */
    color: white; /* Cor do texto branca */
    border: none; /* Sem borda */
    padding: 10px 20px; /* Espaçamento interno */
    text-align: center; /* Centraliza o texto */
    text-decoration: none; /* Remove o sublinhado */
    display: inline-block; /* Exibe como bloco em linha */
    font-size: 16px; /* Tamanho da fonte */
    margin: 4px 2px; /* Margem ao redor do botão */
    cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
    border-radius: 5px; /* Bordas arredondadas */
}
.btn-filter:hover {
    background-color: #45a049; /* Cor de fundo verde mais escura ao passar o mouse */
}
.select {
    width: 200px; /* Largura do select */
    padding: 10px; /* Espaçamento interno */
    margin: 5px 0; /* Margem ao redor do select */
    border: 1px solid #ccc; /* Borda cinza clara */
    border-radius: 5px; /* Bordas arredondadas */
    background-color: #f9f9f9; /* Cor de fundo cinza claro */
}
.select:hover {
    border-color: #4CAF50; /* Cor da borda verde ao passar o mouse */
}