.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
}
.navbar .logo img {
    width: 50px;
}
.navbar .user-info {
    font-size: 18px;
}
.navbar .menu a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.btn-logout {
    background-color: #ff4d4d; /* Cor de fundo vermelha */
    color: white; /* Cor do texto branca */
    border: none; /* Sem borda */
    padding: 10px 20px; /* Espaçamento interno */
    text-align: center; /* Centraliza o texto */
    text-decoration: none; /* Remove o sublinhado */
    display: inline-block; /* Exibe como bloco em linha */
    font-size: 16px; /* Tamanho da fonte */
    margin: 4px 2px; /* Margem ao redor do botão */
    cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
    border-radius: 5px; /* Bordas arredondadas */
}
.btn-logout:hover {
    background-color: #ff1a1a; /* Cor de fundo vermelha mais escura ao passar o mouse */
}